<div class="main_card_margen">
  <div class="card borderRadius_20px boxshadow-15 p-3">
    <div
      id="header"
      class="d-flex justify-content-between gap-2 flex-wrap align-items-end"
    >
      <div class="d-flex gap-3 width-50-lg">
        <button
          placeholder=" "
          class="white_bg_green_txt_btn width-30 white-text boxShadow-15 borderRadius_15px h-60px"
          data-bs-toggle="modal"
          data-bs-target="#filterModal"
        >
          فلتر
        </button>
        <div
          class="d-flex width-35 h-60px text-center lightGreen-border borderRadius_15px p-2 justify-content-center align-items-center"
        >
          <span class="fs-14 fw-600 w-100"
            >الطلبات المعدلة : {{ additional_data.has_changes }}
          </span>
        </div>
      </div>

      <div class="flex-fill d-flex justify-content-end">
        <button
          class="printBtn fullScreen-768px d-flex fs-19 h-60px borderRadius_15px p-3 align-items-center text-center justify-content-center boxShadow-15"
          (click)="openModal()"
        >
          طباعة
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5900_794)">
              <path
                d="M22.6667 22.6667H25.3333C26.0406 22.6667 26.7189 22.3857 27.219 21.8856C27.719 21.3855 28 20.7072 28 20V14.6667C28 13.9594 27.719 13.2811 27.219 12.781C26.7189 12.281 26.0406 12 25.3333 12H6.66667C5.95942 12 5.28115 12.281 4.78105 12.781C4.28095 13.2811 4 13.9594 4 14.6667V20C4 20.7072 4.28095 21.3855 4.78105 21.8856C5.28115 22.3857 5.95942 22.6667 6.66667 22.6667H9.33333"
                stroke="#3F497F"
                stroke-width="2.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22.6673 12V6.66667C22.6673 5.95942 22.3864 5.28115 21.8863 4.78105C21.3862 4.28095 20.7079 4 20.0007 4H12.0007C11.2934 4 10.6151 4.28095 10.115 4.78105C9.61494 5.28115 9.33398 5.95942 9.33398 6.66667V12"
                stroke="#3F497F"
                stroke-width="2.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.33398 19.9997C9.33398 19.2924 9.61494 18.6142 10.115 18.1141C10.6151 17.614 11.2934 17.333 12.0007 17.333H20.0007C20.7079 17.333 21.3862 17.614 21.8863 18.1141C22.3864 18.6142 22.6673 19.2924 22.6673 19.9997V25.333C22.6673 26.0403 22.3864 26.7185 21.8863 27.2186C21.3862 27.7187 20.7079 27.9997 20.0007 27.9997H12.0007C11.2934 27.9997 10.6151 27.7187 10.115 27.2186C9.61494 26.7185 9.33398 26.0403 9.33398 25.333V19.9997Z"
                stroke="#3F497F"
                stroke-width="2.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_5900_794">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>

    <div id="table">
      <app-shared_table
        [columnsArray]="columnsArray"
        [columnsNames]="columnsName"
        [RowsData]="data"
      ></app-shared_table>
    </div>

    <div
      #pagination
      class="d-flex flex-wrap justify-content-between text-center align-items-center w-100"
    >
      <div
        class="d-flex width-20 h-60px lightGreen-border borderRadius_15px p-2 justify-content-center align-items-center"
      >
        <span class="fs-14 fw-600 w-100"
          >اجمالي عدد الأذونات : {{ additional_data.orders_count }}
        </span>
      </div>
      <div class="pagination-area width-50-lg d-flex justify-content-center">
        <p-paginator
          #paginator
          [first]="1"
          [rows]="rows"
          [totalRecords]="total"
          (onPageChange)="changepage($event)"
        ></p-paginator>
      </div>
      <div
        class="d-flex borderRadius_15px p-2 width-25 lightGreen-border h-60px align-items-center justify-content-center gap-2"
      >
        <div class="d-flex flex-column text-center">
          <span>شنطه</span>
          <span>{{ additional_data.total_bags }}</span>
        </div>
        <hr style="border-color: black" class="h-100 lightGreen-border" />
        <div class="d-flex flex-column text-center">
          <span>باكت</span>
          <span>{{ additional_data.total_cartons }}</span>
        </div>
        <hr style="border-color: black" class="h-100 lightGreen-border" />
        <div class="d-flex flex-column text-center">
          <span>ثلاجة</span>
          <span>{{ additional_data.total_fridges }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!--filter modal-->

<div
  class="modal fade"
  id="filterModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header border-0 justify-content-center position-relative"
      >
        <h1 class="modal-title fs-5" id="exampleModalLabel">فلتر</h1>
        <button
          type="button"
          class="btn-close position-absolute"
          style="left: 3%"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body border-0">
        <form [formGroup]="filterForm">
          <div class="p-2">
            <div class="d-flex mb-2 gap-2 flex-wrap justify-content-between">
              <div class="width-45-lg my-2">
                <label class="mb-2">الخط </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="tracks"
                  formControlName="track_id"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
              <div class="width-45-lg my-2">
                <label class="mb-2">اسم المدينة </label>
                <p-dropdown
                  [showClear]="true"
                  class="d-block"
                  formControlName="area_id"
                  [options]="areas"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="d-flex mb-2 gap-2 flex-wrap justify-content-between">
              <div class="width-45-lg my-2">
                <label class="mb-2">اسم العميل </label>
                <p-dropdown
                  [showClear]="true"
                  class="d-block"
                  optionLabel="name"
                  [options]="clients"
                  formControlName="client_id"
                  optionValue="id"
                  placeholder=" "
                  (onChange)="getPharmacies()"
                  [filter]="true"
                ></p-dropdown>
              </div>
              <div class="width-45-lg my-2">
                <label class="mb-2">اسم الصيدلية </label>
                <p-dropdown
                  [showClear]="true"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  formControlName="pharmacy_id"
                  [options]="pharmacies"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="d-flex mb-2 gap-2 flex-wrap justify-content-between">
              <div class="width-45-lg my-2 d-flex align-items-end gap-2">
                <div class="width-45">
                  <label class="m-2">التوقيت </label>
                  <div class="calendar-holder position-relative">
                    <input
                      formControlName="time_from"
                      type="time"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="width-45">
                  <div class="calendar-holder position-relative">
                    <!-- <p-calendar
                      (onSelect)="onSelectTo($event)"
                      [timeOnly]="true"
                    >
                    </p-calendar> -->
                    <!-- (onSelect)="onSelectTo($event)" -->
                    <input
                      formControlName="time_to"
                      type="time"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="width-45-lg my-2 d-flex align-items-end gap-2">
                <div class="width-45">
                  <label class="m-2">التاريخ </label>
                  <div class="calendar-holder position-relative">
                    <p-calendar
                      #calendarFrom
                      [dir]="'ltr'"
                      placeholder=" من"
                      formControlName="date_from"
                      dateFormat="yy-mm-dd"
                      [showClear]="true"
                    >
                    </p-calendar>
                    <img
                      (click)="calendarFrom.toggle()"
                      class="cursor-pointer position-absolute top_5px end-0"
                      src="../../../../assets/images/input/calender.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="width-45">
                  <div class="calendar-holder position-relative">
                    <p-calendar
                      #calendarTo
                      [dir]="'ltr'"
                      placeholder=" الي"
                      dateFormat="yy-mm-dd"
                      formControlName="date_to"
                      [showClear]="true"
                    >
                    </p-calendar>
                    <img
                      (click)="calendarTo.toggle()"
                      class="cursor-pointer position-absolute top_5px end-0"
                      src="../../../../assets/images/input/calender.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mb-2 gap-2 flex-wrap justify-content-between">
              <div class="width-45-lg my-2 d-flex align-items-end gap-2">
                <div class="width-45">
                  <label class="m-2">رقم الاذن </label>
                  <input
                    formControlName="orders_from"
                    type="number"
                    class="form-control"
                  />
                </div>
                <div class="width-45">
                  <input
                    formControlName="orders_to"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="width-45-lg my-2">
                <label class="mb-2">المخزن </label>
                <p-dropdown
                  [showClear]="true"
                  class="d-block"
                  [options]="warehouses"
                  formControlName="warehouse_id"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="d-flex mb-2 gap-2 flex-wrap justify-content-between">
              <div class="width-45-lg my-2">
                <label class="mb-2">اسم المراجع </label>
                <p-dropdown
                  [showClear]="true"
                  class="d-block"
                  [options]="receiving_reviewer"
                  formControlName="reviewer_id"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
              <div class="width-45-lg my-2">
                <label class="mb-2">اسم مندوب البيع </label>
                <p-dropdown
                  [showClear]="true"
                  class="d-block"
                  optionLabel="name"
                  formControlName="sales_id"
                  [options]="distributer_employees"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div
              class="d-flex flex-wrap w-100 mt-4 d-flex justify-content-center align-items-center"
            >
              <div class="width-75 fullScreenWidth mx-0">
                <button
                  appDisableButton
                  (click)="filter()"
                  type="button"
                  class="width-75 borderRadius_20px darkGreen-bg border-0 text-light fw-bold h-60px"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  فلترة
                </button>
              </div>
              <div class="flex-fill d-flex flex-column text-center">
                <label class="fs-12 fw-600 mb-2"> توصيل سريع </label>
                <div class="w-100 d-flex justify-content-center">
                  <input
                    name="quantity_more"
                    class="form-check-input cursor-pointer check_input"
                    type="checkbox"
                    [value]="0"
                    formControlName="fast_shipping"
                    id="quantity_more"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<button
  hidden
  #OpenOptionsModal
  type="button"
  (click)="choosePrintTypePopup.openAddModal()"
></button>
<app-printing-options-popup
  [paginated]="true"
  (printData)="print($event)"
  #choosePrintTypePopup
></app-printing-options-popup>
