<div class="main_card_margen">
  <div
    class="inventory-stock-balance card borderRadius_10px boxShadow-10 responsiveTabs m-3 p-2"
  >
    <div class="upper-Area d-flex justify-content-between p-4">
      <div class="bottomHolder d-flex justify-content-between w-100">
        <div class="add-prohibited-item">
          <div class="w-100 d-flex">
            <button
              appDisableButton
              (click)="openModal()"
              class="printBtn boxShadow-15"
            >
              طباعة
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_5900_794)">
                  <path
                    d="M22.6667 22.6667H25.3333C26.0406 22.6667 26.7189 22.3857 27.219 21.8856C27.719 21.3855 28 20.7072 28 20V14.6667C28 13.9594 27.719 13.2811 27.219 12.781C26.7189 12.281 26.0406 12 25.3333 12H6.66667C5.95942 12 5.28115 12.281 4.78105 12.781C4.28095 13.2811 4 13.9594 4 14.6667V20C4 20.7072 4.28095 21.3855 4.78105 21.8856C5.28115 22.3857 5.95942 22.6667 6.66667 22.6667H9.33333"
                    stroke="#3F497F"
                    stroke-width="2.75"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M22.6673 12V6.66667C22.6673 5.95942 22.3864 5.28115 21.8863 4.78105C21.3862 4.28095 20.7079 4 20.0007 4H12.0007C11.2934 4 10.6151 4.28095 10.115 4.78105C9.61494 5.28115 9.33398 5.95942 9.33398 6.66667V12"
                    stroke="#3F497F"
                    stroke-width="2.75"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.33398 19.9997C9.33398 19.2924 9.61494 18.6142 10.115 18.1141C10.6151 17.614 11.2934 17.333 12.0007 17.333H20.0007C20.7079 17.333 21.3862 17.614 21.8863 18.1141C22.3864 18.6142 22.6673 19.2924 22.6673 19.9997V25.333C22.6673 26.0403 22.3864 26.7185 21.8863 27.2186C21.3862 27.7187 20.7079 27.9997 20.0007 27.9997H12.0007C11.2934 27.9997 10.6151 27.7187 10.115 27.2186C9.61494 26.7185 9.33398 26.0403 9.33398 25.333V19.9997Z"
                    stroke="#3F497F"
                    stroke-width="2.75"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_5900_794">
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </div>
        <div class="bottomHolder d-flex justify-content-start">
          <div class="add-prohibited-item">
            <div class="totals d-flex align-items-center">
              <div class="filter-button d-flex justify-content-end">
                <button
                  appDisableButton
                  #toggleFilter
                  type="submit"
                  placeholder=" "
                  class="form-control"
                  data-bs-toggle="modal"
                  data-bs-target="#InventoryStockBalanceModal"
                >
                  فلتر
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table">
      <app-shared_table
        [columnsArray]="columnsArray"
        [columnsNames]="columnsName"
        [RowsData]="productsData"
        (productClickEvent)="editButton($event)"
      ></app-shared_table>
    </div>

    <div class="lower-area d-flex flex-wrap">
      <div
        class="h-80px width-30 borderRadius_20px lightGreen-border d-flex align-items-center"
      >
        <span
          class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center text-center m-2"
        >
          اجمالي عدد الأصناف
        </span>
        <hr class="h-100 lightGreen-border" />
        <span class="fw-600 fs-18 w-50 d-flex justify-content-center">{{
          total
        }}</span>
      </div>

      <div class="pagination-area d-flex width-50-lg justify-content-center">
        <p-paginator
          #paginator
          [first]="1"
          [rows]="rows"
          (onPageChange)="changePage($event)"
          [totalRecords]="total"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="InventoryStockBalanceModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header border-0 justify-content-center position-relative"
      >
        <h1 class="modal-title fs-5" id="exampleModalLabel">فلتر</h1>
        <button
          type="button"
          class="btn-close position-absolute"
          style="left: 3%"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body border-0">
        <p class="modal-title fs-2 text-center" id="exampleModalLabel"></p>
        <form [formGroup]="productsFilterForm">
          <div class="row">
            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2">اسم الصنف </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="products_dropdown"
                  formControlName="id"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div
              class="col-md-12 col-lg-6 d-flex gap-1 position-relative d-flex align-items-end"
            >
              <label class="position-absolute" style="top: -10%">الموقع </label>

              <div class="col-4">
                <div class="w-100 my-2">
                  <label class="fw-400 fs-14 mb-1 text-center w-100"
                    >محطة
                  </label>
                  <p-dropdown
                    [showClear]="true"
                    [options]="corridors"
                    formControlName="corridor_id"
                    class="d-block"
                    optionLabel="number"
                    optionValue="id"
                    placeholder=" "
                    [filter]="true"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col-4">
                <div class="w-100 my-2">
                  <label class="fw-400 fs-14 mb-1 text-center w-100"
                    >استاند
                  </label>
                  <p-dropdown
                    [showClear]="true"
                    [options]="stands"
                    formControlName="stand"
                    class="d-block"
                    optionLabel="number"
                    optionValue="number"
                    placeholder=" "
                    [filter]="true"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col-4">
                <div class="w-100 my-2">
                  <label class="fw-400 fs-14 mb-1 text-center w-100">رف </label>
                  <p-dropdown
                    [showClear]="true"
                    [options]="shelves"
                    formControlName="shelf"
                    class="d-block"
                    optionLabel="number"
                    optionValue="number"
                    placeholder=" "
                    [filter]="true"
                  ></p-dropdown>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2">تصنيع شركة</label>
                <p-dropdown
                  [showClear]="true"
                  formControlName="distribution_company_id"
                  [options]="Manufacturers"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2">لصالح شركة</label>
                <p-dropdown
                  [showClear]="true"
                  [options]="Manufacturers"
                  class="d-block"
                  optionLabel="name"
                  formControlName="for_company_id"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2">الشركة الأم</label>
                <p-dropdown
                  [showClear]="true"
                  [options]="Manufacturers"
                  formControlName="parent_company_id"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-6">
              <div class="w-100 my-2">
                <label class="mb-2"> المادة الفعالة </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="activeIngredient"
                  formControlName="active_ingredient_id"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-6">
              <div class="w-100 my-2">
                <label class="mb-2"> بديل المادة الفعالة </label>
                <p-multiSelect
                  [options]="activeIngredient"
                  formControlName="ingredient_alternative_ids"
                  optionLabel="name"
                  optionValue="id"
                  display="chip"
                  [panelStyle]="{ 'max-height': '300px' }"
                ></p-multiSelect>
              </div>
            </div>

            <div class="col-md-12 col-lg-3 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2">التصنيف </label>
                <p-dropdown
                  [options]="allFixedData?.product_type"
                  [showClear]="true"
                  formControlName="product_type"
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-md-12 col-lg-3 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2">الضريبة</label>
                <input
                  type="text"
                  class="d-block"
                  placeholder=" "
                  formControlName="taxes"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-12 col-lg-3 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2">مدة القبول للمرتجع</label>
                <p-dropdown
                  [showClear]="true"
                  [options]="supplier_idle_days"
                  formControlName="return_acceptance_period"
                  class="d-block"
                  optionLabel="number"
                  optionValue="number"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 d-flex align-items-end">
              <div class="radiobutton d-flex align-items-center gap-1">
                <input
                  formControlName="accept_returns"
                  style="width: 40px !important; height: 40px !important"
                  class="form-check-input mx-1 borderRadius_10px"
                  name="accept_returns"
                  type="checkbox"
                  formControlName="accept_returns"
                />
                <label class="form-check-label"> يقبل مرتجع </label>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2"> حالة البيع </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="allFixedData?.product_selling_status"
                  formControlName="selling_status"
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2"> حالة الشراء </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="allFixedData?.product_buying_status"
                  formControlName="buying_status"
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-md-12 col-lg-4 d-flex align-items-end gap-2">
              <div class="d-flex gap-1 w-100">
                <div class="col-md-6 col-lg-5">
                  <div class="w-100 my-2">
                    <label class="mb-2">سعر الجمهور </label>
                    <input
                      type="number"
                      placeholder="من "
                      class="form-control"
                      style="direction: rtl"
                      formControlName="price_from"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-lg-5">
                  <div class="w-100 my-2">
                    <label class="toCalenderLabelFix mb-2"> </label>
                    <input
                      formControlName="price_to"
                      type="number"
                      placeholder="الي"
                      class="form-control"
                      style="margin-top: 0.45rem; direction: rtl"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2">اسم المخزن </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="warehouses"
                  formControlName="warehouse_id"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2">شرائح الخصم</label>
                <p-multiSelect
                  [filter]="true"
                  optionLabel="title"
                  [options]="discount_slat"
                  formControlName="discount_tier_ids"
                  optionValue="id"
                  display="chip"
                ></p-multiSelect>
              </div>
            </div>

            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2"> تسوية المراجعة</label>
                <p-dropdown
                  [showClear]="true"
                  formControlName="types"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2">مدة الركود</label>
                <p-dropdown
                  [showClear]="true"
                  [options]="monthes"
                  formControlName="idle_period"
                  class="d-block"
                  optionLabel="number"
                  optionValue="number"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2"> نوع التصنيع </label>
                <p-dropdown
                  [showClear]="true"
                  [options]="allFixedData.product_manufacturing_types"
                  formControlName="manufacturing_type"
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2">توزيع شركة</label>
                <p-dropdown
                  [showClear]="true"
                  [options]="Manufacturers"
                  formControlName="distribution_company_id"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100 my-2">
                <label class="mb-2"> الكمية </label>
                <p-dropdown
                  [options]="allFixedData.quantity_more_than_zero"
                  [showClear]="true"
                  formControlName="quantity_more_than_zero"
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-end">
              <div class="w-100">
                <label class="mb-2">الشركة المصنعة </label>
                <p-dropdown
                  [showClear]="true"
                  formControlName="manufacturer_id"
                  [options]="Manufacturers"
                  class="d-block"
                  optionLabel="name"
                  optionValue="id"
                  placeholder=" "
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="w-100 d-flex justify-content-center">
              <button
                (click)="filter()"
                appDisableButton
                style="height: 60px; color: white; border: none"
                class="darkGreen-bg borderRadius_20px w-75 mt-2"
              >
                فلترة
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button
  hidden
  #OpenOptionsModal
  type="button"
  (click)="choosePrintTypePopup.openAddModal()"
></button>
<app-printing-options-popup
  [paginated]="true"
  (printData)="print($event)"
  #choosePrintTypePopup
></app-printing-options-popup>
