@import 'generalTableStyle.scss';
@import 'generalInputsStyle.scss';
@import 'generalPaginationStyle.scss';
.btnStyling {
    background-color: var(--darkGreen);
    border-radius: 10px;
    font-size: 18px;
}
.borderline{
    border-left: 1px solid  var(--darkGreen);
    height: 100%;
  }