<div class="main_card_margen">
  <div class="card card boxShadow-15 borderRadius_20px">
    <!-- filter section -->
    <div id="filter" class="p-2">
      <form [formGroup]="requestDataForm" action="">
        <div class="d-flex flex-wrap align-items-end gap-2">
          <div *ngIf="type === 'supplier'" class="width-10">
            <label class="mb-2">كود المورد</label>
            <input
              [(ngModel)]="supplier.id"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              class="form-control"
            />
          </div>
          <div *ngIf="type === 'supplier'" class="width-27">
            <label
              (click)="openClinetPopup()"
              class="mb-2 text-decoration-underline cursor-pointer"
              >اسم المورد</label
            >
            <p-dropdown
              [options]="suppliers"
              (onChange)="updateWarehouse(warehouse)"
              formControlName="supplier_id"
              [(ngModel)]="supplier.id"
              optionLabel="name"
              optionValue="id"
              placeholder=" "
              [showClear]="true"
              [filter]="true"
            ></p-dropdown>
          </div>
          <div *ngIf="type === 'client'" class="width-10">
            <label class="mb-2">كود العميل</label>
            <input
              [(ngModel)]="pharmacy.id"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              class="form-control"
            />
          </div>
          <div *ngIf="type === 'client'" class="width-27">
            <label
              (click)="openClinetPopup()"
              class="mb-2 text-decoration-underline cursor-pointer"
              >اسم العميل</label
            >
            <p-dropdown
              [options]="pharmacies"
              (onChange)="updateWarehouse(warehouse)"
              #suppliersDropdown
              formControlName="pharmacy_id"
              [(ngModel)]="pharmacy.id"
              optionLabel="name"
              optionValue="id"
              placeholder=" "
              [showClear]="true"
              [filter]="true"
            ></p-dropdown>
          </div>
          <div class="width-17">
            <label class="mb-2">المخزن</label>
            <p-dropdown
              #warehouse
              [options]="warehouses"
              [ngClass]="{ 'readonly-input': disableWarehouse }"
              [readonly]="disableWarehouse"
              formControlName="warehouse_id"
              optionLabel="name"
              optionValue="id"
              placeholder=" "
              [showClear]="!disableWarehouse"
              [filter]="true"
            ></p-dropdown>
          </div>
          <div class="width-27 d-flex flex-column align-items-end">
            <label class="m-2 w-100">تاريخ متوسط الاستهلاك </label>
            <div class="d-flex w-100 align-items-end gap-2">
              <div class="width-50">
                <div class="calendar-holder position-relative">
                  <p-calendar
                    #calendarFrom
                    [dir]="'ltr'"
                    formControlName="from"
                    placeholder=" من"
                    dateFormat="yy-mm-dd"
                    [showClear]="true"
                  >
                  </p-calendar>
                  <img
                    (click)="calendarFrom.toggle()"
                    class="cursor-pointer position-absolute top_5px end-0"
                    src="../../../../assets/images/input/calender.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="width-50">
                <div class="calendar-holder position-relative">
                  <p-calendar
                    #calendarTo
                    [dir]="'ltr'"
                    placeholder=" الي"
                    dateFormat="yy-mm-dd"
                    formControlName="to"
                    [showClear]="true"
                  >
                  </p-calendar>
                  <img
                    (click)="calendarTo.toggle()"
                    class="cursor-pointer position-absolute top_5px end-0"
                    src="../../../../assets/images/input/calender.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-fill d-flex justify-content-end gap-2 flex-wrap align-items-end"
          >
            <button
              (click)="filter()"
              type="button"
              class="green_bg_black_txt_btn h-40px borderRadius_10px width-40-lg"
            >
              <span class="fw-600">بحث</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="HLine"></div>
    <!--product statistics section-->
    <div class="p-2">
      <header class="mb-2">متوسط استهلاك الصنف</header>
      <!--first row-->
      <form [formGroup]="statisticsForm" action="">
        <div class="w-100 align-items-end d-flex flex-wrap gap-2 mb-2">
          <div class="width-13">
            <label class="mb-2">اجمالي البيع</label>
            <input
              readonly
              formControlName="total_quantity_sold"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">اجمالي مردود البيع</label>
            <input
              readonly
              formControlName="total_quantity_returned"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">اجمالي المشتريات</label>
            <input
              readonly
              formControlName="total_quantity_purchase"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">صافي البيع</label>
            <input
              readonly
              formControlName="total_quantity_cleared_sold"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">كمية المخزن</label>
            <input
              readonly
              formControlName="warehouse_quantity"
              warehouse_quantity
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">اجمالي كمية المخازن</label>
            <input
              readonly
              formControlName="total_warehouses_quantity"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-16">
            <label class="mb-2">تصنيع شركة</label>
            <input
              readonly
              formControlName="manufacturer_name"
              type="text"
              class="form-control readonly-input"
            />
          </div>
        </div>

        <!--secound row-->

        <div class="w-100 align-items-end d-flex flex-wrap gap-2 mb-2">
          <div class="width-13">
            <label class="mb-2">خصم مرجح</label>
            <input
              readonly
              formControlName="suggested_discount"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">اخر خصم شراء</label>
            <input
              readonly
              formControlName="last_discount"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">اعلي خصم شراء</label>
            <input
              readonly
              formControlName="highest_discount"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-13">
            <label class="mb-2">تكلفة العبوة</label>
            <input
              readonly
              formControlName="public_price"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-8">
            <label class="mb-2">السعر الحالي</label>
            <input
              readonly
              formControlName="after_discount_price"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-6">
            <label class="mb-2">باكت</label>
            <input
              readonly
              formControlName="items_number_in_packet"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-6">
            <label class="mb-2">كرتونة</label>
            <input
              readonly
              formControlName="packets_number_in_package"
              type="number"
              class="form-control readonly-input"
            />
          </div>
          <div class="width-21">
            <label class="mb-2">ملاحظات علي الصنف</label>
            <input
              readonly
              formControlName="note"
              type="text"
              class="form-control readonly-input"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="HLine"></div>

    <!--last ordered quantity-->
    <div class="p-2">
      <header>خصم الموردين</header>
      <app-shared_table
        [columnsArray]="columnsArray1"
        [columnsNames]="columnsName1"
        [RowsData]="suppliersDiscount"
        (sortEvent)="suppliersDiscountSort($event)"
        (supplierNameClickEvent)="supplierNameClick($event)"
      ></app-shared_table>
    </div>
    <div class="HLine"></div>

    <!-- add product section -->
    <div class="p-2">
      <form [formGroup]="addProductForm">
        <div class="d-flex flex-wrap align-items-end gap-2">
          <div class="width-13">
            <label class="mb-2">التاريخ والتشغيلة</label>
            <div
              class="form-control readonly-input h-40px borderRadius_10px d-flex flex-column justify-content-center align-items-center"
            >
              <span class="text-center">{{
                addProductForm.controls["expired_at"].value
              }}</span>
              <span class="text-center">{{
                addProductForm.controls["operating_number"].value
              }}</span>
            </div>
            <!-- <input formControlName="expired_operating" type="text" class="form-control"> -->
          </div>

          <div class="width-8">
            <label class="mb-2">الضريبة</label>
            <input
              formControlName="taxes"
              readonly
              type="number"
              class="form-control readonly-input"
            />
          </div>

          <div class="width-13">
            <label class="mb-2">ملاحظات</label>
            <input formControlName="note" type="text" class="form-control" />
          </div>

          <div class="width-8">
            <label class="mb-2">السعر</label>
            <input type="number" formControlName="price" class="form-control" />
          </div>

          <div class="width-31">
            <div
              class="d-flex justify-content-between align-items-end mb-1 p-1"
            >
              <label
                (click)="navigateToEditProduct()"
                class="text-decoration-underline fw-bold cursor-pointer mainBlue-text"
                >اسم الصنف</label
              >
              <button
                (click)="
                  getcalculateBonusAndTax({ page: 0 });
                  openCalculateBonusAndTax()
                "
                type="button"
                class="blue_bg_white_txt_btn h-40px borderRadius_10px w-50"
              >
                <span class="fw-600 fs-12">حساب البونص والضريبة</span>
              </button>
            </div>
            <p-dropdown
              [options]="products"
              #productsDropdown
              (keydown.enter)="productChangeEvent(productsDropdown)"
              (click)="productChangeEvent(productsDropdown)"
              formControlName="product_id"
              optionLabel="name"
              optionValue="id"
              placeholder=" "
              [showClear]="true"
              [filter]="true"
            ></p-dropdown>
          </div>

          <div class="width-7">
            <label class="mb-2">الخصم</label>
            <input
              type="number"
              formControlName="discount"
              class="form-control"
            />
          </div>

          <div class="width-8">
            <label class="mb-2">الكمية</label>
            <input
              type="number"
              #quantity
              id="quantity"
              (keydown.enter)="focus('addbtn', $event)"
              formControlName="quantity"
              class="form-control"
            />
          </div>

          <div
            class="flex-fill d-flex flex-column gap-2 flex-wrap align-items-end"
          >
            <!-- (click)="filter()" -->
            <button
              data-bs-toggle="modal"
              data-bs-target="#filterModel"
              type="button"
              class="white_bg_green_txt_btn boxShadow-15 h-40px borderRadius_10px w-100"
            >
              <span class="fw-600">فلتر</span>
            </button>

            <button
              (click)="addProductToCart(dt)"
              [disabled]="addProductForm.invalid"
              type="button"
              #addbtn
              id="addbtn"
              class="green_bg_black_txt_btn h-40px borderRadius_10px w-100"
            >
              <span class="fw-600">إضافة</span>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- cart table -->
    <div class="p-2">
      <div class="borderRadius_20px border border-1 mx-3 p-2">
        <div
          #scrollMe
          style="max-height: 285px; overflow-y: auto"
          class="h-100"
        >
          <p-table #dt [value]="cartData">
            <ng-template pTemplate="header">
              <tr>
                <th
                  pSortableColumn="product_name"
                  style="
                    display: table-cell !important;
                    width: 250px !important;
                  "
                >
                  <div class="d-flex w-100 flex-row flex-wrap">
                    <div class="d-flex flex-wrap width-50">
                      <span class="fw-500 fs-18">الاسم عربي</span>
                      <p-sortIcon field="product_name"></p-sortIcon>
                    </div>
                    <div class="width-50">
                      <p-columnFilter
                        type="text"
                        field="product_name"
                        (click)="$event.stopPropagation()"
                        placeholder="Search by name"
                        matchMode="contains"
                        ariaLabel="Filter Name"
                      />
                    </div>
                  </div>
                </th>
                <th style="display: table-cell !important">التاريخ</th>
                <th style="display: table-cell !important">التشغيلة</th>
                <th style="display: table-cell !important">ملاحظات</th>
                <th style="display: table-cell !important">الكمية</th>
                <th style="display: table-cell !important">السعر</th>
                <th style="display: table-cell !important">الخصم</th>
                <th style="display: table-cell !important">الضريبة</th>
                <th style="display: table-cell !important">الصافي</th>
                <th style="display: table-cell !important">الكاتب</th>
                <th style="display: table-cell !important">حذف صنف</th>
              </tr>
              <tr></tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-index="rowIndex">
              <tr
                style="
                  background: #ffffff;
                  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                  border-radius: 20px;
                "
              >
                <td class="fs-14 fw-700 color-black x-small-sm">
                  {{ product.product_name }}
                </td>
                <td class="fw-600 color-black">
                  <input
                    [(ngModel)]="product.expired_at"
                    (input)="formatDataInput(index)"
                    (keydown.enter)="goToNext(index, 'operating_number')"
                    [id]="'expired_at-' + index"
                    type="text"
                    class="form-control text-center"
                  />
                </td>
                <td class="fw-600 color-black">
                  <input
                    style="direction: ltr !important"
                    [(ngModel)]="product.operating_number"
                    (keydown.enter)="goToNext(index, 'expired_at')"
                    [id]="'operating_number-' + index"
                    type="text"
                    class="form-control text-center"
                  />
                </td>
                <td
                  (click)="showEditNoteModal(index)"
                  class="fw-600 text-decoration-underline fw-bold cursor-pointer mainBlue-text"
                >
                  ملاحظة
                </td>
                <td class="fw-600 color-black">
                  <input
                    [(ngModel)]="product.quantity"
                    (input)="calcTotal(index)"
                    (keydown.enter)="goToNext(index, 'quantity')"
                    [id]="'quantity-' + index"
                    type="text"
                    class="form-control text-center"
                  />
                </td>
                <td class="fw-600 color-black">
                  <input
                    [(ngModel)]="product.public_price"
                    (input)="calcTotal(index)"
                    (keydown.enter)="goToNext(index, 'price')"
                    [id]="'price-' + index"
                    type="text"
                    class="form-control text-center"
                  />
                </td>
                <td class="fw-600 color-black">
                  <input
                    [(ngModel)]="product.discount"
                    (input)="calcTotal(index)"
                    (keydown.enter)="goToNext(index, 'discount')"
                    [id]="'discount-' + index"
                    type="text"
                    class="form-control text-center"
                  />
                </td>
                <td class="fw-600 color-black">{{ product.taxes }}</td>
                <td class="fw-600 color-black">{{ product.subtotal }}</td>
                <td class="fw-600 color-black">{{ product.created_by }}</td>
                <td>
                  <button
                    appDisableButton
                    (click)="openModel(2, index)"
                    class="redWithWiteText borderRadius_10px border-0 w-100 h-31px fw-600 fs-18"
                  >
                    حذف
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <div
      id="totals"
      class="p-2 flex-wrap justify-content-between d-flex align-items-end"
    >
      <div class="flex-wrap gap-2 d-flex width-60">
        <div
          class="d-flex width-20 h-50px text-center lightGreen-border borderRadius_20px p-2 flex-column justify-content-center align-items-center"
        >
          <span class="fs-14 fw-600">عدد الاصناف</span>
          <span class="fw-600">{{ supplyRequestTotals.total_products }}</span>
        </div>
        <div
          class="d-flex width-20 h-50px text-center lightGreen-border borderRadius_20px p-2 flex-column justify-content-center align-items-center"
        >
          <span class="fs-14 fw-600">اجمالي سعر الجمهور</span>
          <span class="fw-600">{{
            supplyRequestTotals.total_public_price
          }}</span>
        </div>
        <div
          class="d-flex width-20 h-50px text-center lightGreen-border borderRadius_20px p-2 flex-column justify-content-center align-items-center"
        >
          <span class="fs-14 fw-600">اجمالي الضريبة</span>
          <span class="fw-600">{{ supplyRequestTotals.total_taxes }}</span>
        </div>
        <div
          class="d-flex width-20 h-50px text-center lightGreen-border borderRadius_20px p-2 flex-column justify-content-center align-items-center"
        >
          <span class="fs-14 fw-600">اجمالي طلب التوريد</span>
          <span class="fw-600">{{
            supplyRequestTotals.total_supply_price
          }}</span>
        </div>
      </div>
      <div
        class="flex-wrap gap-2 d-flex width-40 justify-content-end align-items-end"
      >
        <div
          data-bs-toggle="modal"
          data-bs-target="#deleteQuantityModal"
          class="d-flex cursor-pointer width-25 h-50px red-border red_color text-center borderRadius_20px p-2 flex-column justify-content-center align-items-center"
        >
          <span class="fs-14 fw-600">حذف كل الاصناف بكمية</span>
        </div>
        <div class="h-50px width-17">
          <button
            (click)="this.submitType = 'save'"
            data-bs-toggle="modal"
            data-bs-target="#saveModal"
            type="button"
            class="green_bg_black_txt_btn text-white text-center h-50px borderRadius_20px w-100"
          >
            <span class="fw-600">حفظ</span>
          </button>
        </div>

        <div class="h-50px align-items-center d-flex width-17">
          <button
            (click)="openModel(1)"
            type="button"
            class="redWithWiteText text-center border-0 borderRadius_10px px-0 py-1 w-100"
          >
            <span class="fw-600">حذف الأذن</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit notes modal -->
  <app-notes-modal
    [notesModalData]="productNote"
    [editable]="true"
    (editNoteEvent)="editNote($event)"
    #notesModal
  ></app-notes-modal>

  <!--delete qunatity modal-->

  <div
    class="modal fade"
    #deleteQuantityModal
    id="deleteQuantityModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 20px">
        <div
          class="modal-header border-0 d-flex justify-content-center position-relative"
        >
          <h2 class="modal-title fs-5 text-center" id="exampleModalLabel">
            حذف الدواء بكمية
          </h2>
          <button
            type="button"
            #closeDeleteQuantityBtn
            id="closeDeleteQuantityBtn"
            class="btn-close m-0 position-absolute"
            data-bs-dismiss="modal"
            style="left: 3%"
            aria-label="Close"
          ></button>
        </div>
        <form [formGroup]="DeleteWithQuantity">
          <div
            class="modal-body border-0 m-3 d-flex flex-column justify-content-center"
          >
            <div class="w-100 mb-4">
              <label class="mb-2">حذف الدواء الذي كميته</label>
              <input
                formControlName="quantity"
                type="number"
                class="form-control"
              />
            </div>
            <div class="w-100 d-flex justify-content-center">
              <button
                (click)="deleteQuantity()"
                [disabled]="!this.purchase_id && DeleteWithQuantity.invalid"
                type="button"
                class="green_bg_black_txt_btn text-white text-center border-0 borderRadius_15px p-3 w-75"
              >
                <span class="fw-600">حذف</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--filter modal-->
  <div
    class="modal fade"
    id="filterModel"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog p-3">
      <div class="modal-content" style="border-radius: 20px">
        <div class="modal-header border-0 d-flex justify-content-center">
          <div class="d-flex justify-content-center mb-1 w-100">
            <span class="text-center fs-24 fw-700">فلتر</span>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="button"
              #CloseFilterBtn
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="filterForm" action="">
            <div
              class="w-100 d-flex flex-wrap justify-content-between align-items-end mb-5 gap-4"
            >
              <div class="width-47">
                <label class="mb-2">تصنيع شركة</label>
                <p-dropdown
                  formControlName="manufactured_by"
                  [options]="Manufacturers"
                  [showClear]="true"
                  placeholder=" "
                  optionLabel="name"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="width-47">
                <label class="mb-2">التصنيف</label>
                <p-dropdown
                  [options]="product_type"
                  formControlName="product_type"
                  [showClear]="true"
                  placeholder=" "
                  optionLabel="name"
                  optionValue="value"
                ></p-dropdown>
              </div>
            </div>
            <div
              class="d-flex flex-wrap align-items-end justify-content-between mb-4"
            >
              <div class="p-field-checkbox d-flex gap-2 align-items-center">
                <input
                  formControlName="quantity_more_that_zero"
                  class="form-check-input check_input"
                  name="quantity"
                  type="checkbox"
                  value=""
                  id="quantityCheckDefault"
                />
                <label class="mb-2">الكمية أكبر من صفر</label>
              </div>
              <div class="p-field-checkbox d-flex gap-2 align-items-center">
                <input
                  formControlName="supply_file_product"
                  class="form-check-input check_input"
                  name="supplierData"
                  checked
                  type="checkbox"
                  value=""
                  id="supplierCheckDefault"
                />
                <label class="mb-2">أصناف ملف المورد</label>
              </div>
            </div>
            <div
              class="d-flex flex-wrap align-items-end justify-content-between mb-3"
            >
              <div
                class="width-45 d-flex flex-wrap justify-content-between align-items-end gap-2"
              >
                <div class="width-45">
                  <label class="mb-2">الخصم</label>
                  <input
                    formControlName="discount_from"
                    type="number"
                    placeholder="من"
                    class="form-control"
                  />
                </div>
                <div class="width-45">
                  <input
                    formControlName="discount_to"
                    type="number"
                    placeholder="الي"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="width-45 d-flex flex-wrap align-items-end gap-3">
                <div class="width-45">
                  <label class="mb-2">سعر الجمهور</label>
                  <input
                    formControlName="price_from"
                    type="text"
                    placeholder="من"
                    class="form-control"
                  />
                </div>
                <div class="width-45">
                  <input
                    formControlName="price_to"
                    type="text"
                    placeholder="الي"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div
              class="d-flex h-100 flex-wrap align-items-end justify-content-between mb-3"
            >
              <div class="width-45">
                <label class="mb-2">ترتيب الدواء</label>
                <p-dropdown
                  [options]="sort_by"
                  formControlName="sort_by"
                  [showClear]="true"
                  placeholder=" "
                  optionLabel="name"
                  optionValue="value"
                ></p-dropdown>
              </div>
              <!-- (change)="onItemChange($event.target)" -->
              <div
                class="d-flex justify-content-between width-45 h-100 align-items-center gap-3"
              >
                <div class="p-field-checkbox d-flex gap-2 align-items-center">
                  <input
                    formControlName="direction"
                    name="direction"
                    checked
                    id="sortRadios2"
                    class="form-check-input check_input"
                    style="width: 2.4em; height: 2.4em"
                    type="radio"
                    value="asc"
                  />
                  <label class="">تصاعدي</label>
                </div>
                <div class="p-field-checkbox d-flex gap-2 align-items-center">
                  <input
                    formControlName="direction"
                    name="direction"
                    id="sortRadios1"
                    class="form-check-input check_input"
                    style="width: 2.4em; height: 2.4em; border-radius: 10px"
                    type="radio"
                    value="desc"
                  />
                  <label class="">تنازلي </label>
                </div>
              </div>
            </div>
            <div
              class="d-flex flex-wrap align-items-end justify-content-center gap-5"
            >
              <div style="width: 40%">
                <button
                  appDisableButton
                  type="button"
                  (click)="getProducts()"
                  class="w-100 h-60px border-0 borderRadius_20px text-white darkGreen-bg"
                >
                  فلترة
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--calculate bonus and tax-->
  <button
    hidden
    data-bs-toggle="modal"
    #openCalculateBonusAndTaxModal
    data-bs-target="#calculateBonusAndTaxModal"
    type="button"
  ></button>

  <div
    class="modal fade"
    #calculateBonusAndTaxModal
    id="calculateBonusAndTaxModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 20px">
        <div
          class="modal-header border-0 d-flex justify-content-center position-relative"
        >
          <h2 class="modal-title fs-5 text-center" id="exampleModalLabel">
            حاسبة البونص والضريبة
          </h2>
          <button
            type="button"
            class="btn-close m-0 position-absolute"
            data-bs-dismiss="modal"
            style="left: 3%"
            aria-label="Close"
          ></button>
        </div>
        <form [formGroup]="calculateBonusAndTaxForm">
          <div
            class="modal-body border-0 p-0 d-flex flex-column justify-content-center"
          >
            <div class="w-100 align-items-end p-3 d-flex flex-wrap gap-4 mb-2">
              <div class="width-9 position-relative">
                <label class="mb-2">الكمية</label>
                <input
                  (keydown.enter)="calculateDiscount(bonus, $event, 'quantity')"
                  #quantity_input
                  formControlName="quantity"
                  type="number"
                  class="form-control"
                />
                <app-Form-errors
                  class="position-absolute error"
                  [control]="calculateBonusAndTaxForm.controls['quantity']"
                ></app-Form-errors>
              </div>
              <div class="width-9">
                <label class="mb-2">البونص</label>
                <input
                  (keydown.enter)="calculateDiscount(taxes, $event, 'bonus')"
                  #bonus
                  formControlName="bonus"
                  type="number"
                  class="form-control"
                />
                <app-Form-errors
                  class="position-absolute error"
                  [control]="calculateBonusAndTaxForm.controls['bonus']"
                ></app-Form-errors>
              </div>
              <div class="width-9">
                <label class="mb-2">الضريبة</label>
                <input
                  (keydown.enter)="
                    calculateDiscount(main_discount, $event, 'taxes')
                  "
                  #taxes
                  formControlName="taxes"
                  type="number"
                  class="form-control"
                />
                <app-Form-errors
                  class="position-absolute error"
                  [control]="calculateBonusAndTaxForm.controls['taxes']"
                ></app-Form-errors>
              </div>
              <div class="width-9 position-relative">
                <label class="mb-2">الخصم الاساسي</label>
                <input
                  (keydown.enter)="
                    calculateDiscount(additional_discount1, $event, 'discount')
                  "
                  #main_discount
                  formControlName="discount"
                  type="number"
                  class="form-control"
                />
                <app-Form-errors
                  class="position-absolute error"
                  [control]="calculateBonusAndTaxForm.controls['discount']"
                ></app-Form-errors>
              </div>
              <div class="width-9">
                <label class="mb-2">خصم اضافي 1</label>
                <input
                  (keydown.enter)="
                    calculateDiscount(
                      additional_discount2,
                      $event,
                      'additional_discount1'
                    )
                  "
                  #additional_discount1
                  formControlName="additional_discount1"
                  type="number"
                  class="form-control"
                />
              </div>
              <div class="width-9">
                <label class="mb-2">خصم اضافي 2</label>
                <input
                  (keydown.enter)="
                    calculateDiscount(
                      additional_discount3,
                      $event,
                      'additional_discount2'
                    )
                  "
                  #additional_discount2
                  formControlName="additional_discount2"
                  type="number"
                  class="form-control"
                />
              </div>
              <div class="width-9">
                <label class="mb-2">خصم اضافي 3</label>
                <input
                  (keydown.enter)="
                    calculateDiscount(
                      addDiscount,
                      $event,
                      'additional_discount3'
                    )
                  "
                  #additional_discount3
                  formControlName="additional_discount3"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="width-9">
                <label class="mb-2">الخصم الصافي</label>
                <input
                  [(ngModel)]="total_discount"
                  readonly
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control readonly-input"
                />
              </div>
              <div class="flex-fill d-flex justify-content-center">
                <button
                  appDisableButton
                  (click)="saveDiscount(quantity_input)"
                  type="button"
                  #addDiscount
                  class="green_bg_black_txt_btn text-white text-center border-0 borderRadius_20px p-2 w-100"
                >
                  <span class="fw-600">تسجيل</span>
                </button>
              </div>
            </div>

            <div class="HLine"></div>

            <div class="p-5 pb-2">
              <app-shared_table
                [columnsArray]="columnsArray3"
                [columnsNames]="columnsName3"
                [RowsData]="calculateBonusAndDiscount"
              ></app-shared_table>
            </div>
            <div #pagination class="d-flex justify-content-center">
              <p-paginator
                #paginator
                [first]="1"
                [rows]="rows"
                (onPageChange)="getcalculateBonusAndTax($event)"
                [totalRecords]="total"
              ></p-paginator>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--confirmation message-->
  <div
    class="modal fade"
    #saveModal
    id="saveModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 20px">
        <div
          class="modal-header border-0 d-flex justify-content-center position-relative"
        >
          <h2
            *ngIf="submitType == 'save'"
            class="modal-title fs-5 text-center"
            id="exampleModalLabel"
          >
            حفظ
          </h2>
          <button
            type="button"
            class="btn-close m-0 position-absolute"
            data-bs-dismiss="modal"
            style="left: 3%"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body border-0 m-3">
          <div class="m-3 d-flex justify-content-between">
            <button
              *ngIf="submitType == 'save'"
              (click)="saveSupplyRequest()"
              type="button"
              class="brightGreen_bg_black_txt_btn text-center border-0 borderRadius_10px p-3 width-40"
            >
              <span class="fw-600">حفظ</span>
            </button>
            <button
              (click)="order_note = ''"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #closeSavebtn
              id="closeSavebtn"
              type="button"
              class="brightRed_bg_black_txt_btn text-center border-0 borderRadius_10px p-3 width-40"
            >
              <span class="fw-600">الغاء</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-shared_popup
    (ChoosenEvent)="Popupevent($event)"
    [cancle_button_name]="cancle_button_name"
    [ok_button_name]="ok_button_name"
    [popupMessage]="popupMessage"
    #Popup
  ></app-shared_popup>
  <button
    hidden
    #popupModalOpen
    type="button"
    (click)="Popup.openModel()"
  ></button>
  <button
    hidden
    #PopupModalClose
    type="button"
    (click)="Popup.closeModalClick()"
  ></button>
</div>
<button
  hidden
  #typeModel
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#typeModel"
></button>

<div
  class="modal fade"
  id="typeModel"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #myModal
>
  <div class="modal-dialog p-3 w-100">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100">
          <h3 class="text-center fs-16 fw-600">النوع</h3>
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>

      <div class="modal-body">
        <div class="d-flex justify-content-center py-5 gap-5">
          <div class="d-flex justify-content-center align-items-center gap-2">
            <input
              type="radio"
              [(ngModel)]="type"
              id="supplier"
              name="type"
              class="cursor-pointer"
              value="supplier"
            />
            <label class="cursor-pointer" for="supplier">مورد</label><br />
          </div>
          <div class="d-flex justify-content-center align-items-center gap-2">
            <input
              type="radio"
              [(ngModel)]="type"
              id="client"
              name="type"
              class="cursor-pointer"
              value="client"
            />
            <label class="cursor-pointer" for="client">عميل</label><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
