<div class="main_card_margen">
  <div class="card borderRadius_10px boxShadow-10 p-2">
    <form [formGroup]="filterForm">
      <div id="filter" class="d-flex flex-wrap align-items-end gap-2">
        <div class="width-6">
          <label class="mb-2">كود المورد</label>
          <input
            [(ngModel)]="pharmacy.id"
            formControlName="code"
            type="number"
            class="form-control"
          />
        </div>
        <div class="width-25">
          <label class="mb-2">اسم العميل</label>
          <p-dropdown
            [(ngModel)]="pharmacy.id"
            [options]="pharmacies"
            optionLabel="name"
            optionValue="id"
            formControlName="pharmacy_id"
            placeholder=" "
            [showClear]="true"
            [filter]="true"
          ></p-dropdown>
        </div>
        <div class="width-12">
          <div class="radiobutton d-flex">
            <input
              formControlName="status"
              style="width: 40px !important; height: 40px !important"
              class="form-check-input mx-1 borderRadius_10px"
              name="status"
              type="checkbox"
            />
            <label class="form-check-label d-flex align-items-center">
              بدون تاريخ
            </label>
          </div>
        </div>
        <div class="width-25 d-flex align-items-end gap-2">
          <!-- [showClear]="this.filterForm.controls[ 'from' ].value" -->
          <div class="width-45">
            <label class="m-2">التاريخ </label>
            <div class="calendar-holder position-relative">
              <p-calendar
                #calendarFrom
                [dir]="'ltr'"
                formControlName="from"
                placeholder=" "
                dateFormat="yy-mm-dd"
                [showClear]="this.filterForm.controls['from'].value"
              >
              </p-calendar>
              <img
                (click)="calendarFrom.toggle()"
                class="cursor-pointer position-absolute top_5px end-0"
                src="../../../../assets/images/input/calender.svg"
                alt=""
              />
            </div>
          </div>
          <div class="width-50">
            <div class="calendar-holder position-relative">
              <p-calendar
                #calendarFrom
                [dir]="'ltr'"
                placeholder=" "
                dateFormat="yy-mm-dd"
                formControlName="to"
                [showClear]="this.filterForm.controls['to'].value"
              >
              </p-calendar>
              <img
                (click)="calendarFrom.toggle()"
                class="cursor-pointer position-absolute top_5px end-0"
                src="../../../../assets/images/input/calender.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="width-20">
          <label class="mb-2">نوع البيان</label>
          <p-multiSelect
            [options]="types"
            formControlName="type"
            [(ngModel)]="selected_types"
            [showClear]="true"
            optionValue="value"
            optionLabel="name"
            display="chip"
          ></p-multiSelect>
        </div>
        <div class="flex-fill d-flex justify-content-center">
          <button
            (click)="filter()"
            type="button"
            class="green_bg_black_txt_btn width-70 h-40px borderRadius_10px"
          >
            <span class="fw-600">بحث</span>
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="data" id="print" class="my-2">
      <button
        (click)="openModal()"
        appDisableButton
        class="printBtn boxShadow-15 fw-bold"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_5900_794)">
            <path
              d="M22.6667 22.6667H25.3333C26.0406 22.6667 26.7189 22.3857 27.219 21.8856C27.719 21.3855 28 20.7072 28 20V14.6667C28 13.9594 27.719 13.2811 27.219 12.781C26.7189 12.281 26.0406 12 25.3333 12H6.66667C5.95942 12 5.28115 12.281 4.78105 12.781C4.28095 13.2811 4 13.9594 4 14.6667V20C4 20.7072 4.28095 21.3855 4.78105 21.8856C5.28115 22.3857 5.95942 22.6667 6.66667 22.6667H9.33333"
              stroke="#3F497F"
              stroke-width="2.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.6673 12V6.66667C22.6673 5.95942 22.3864 5.28115 21.8863 4.78105C21.3862 4.28095 20.7079 4 20.0007 4H12.0007C11.2934 4 10.6151 4.28095 10.115 4.78105C9.61494 5.28115 9.33398 5.95942 9.33398 6.66667V12"
              stroke="#3F497F"
              stroke-width="2.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.33398 19.9997C9.33398 19.2924 9.61494 18.6142 10.115 18.1141C10.6151 17.614 11.2934 17.333 12.0007 17.333H20.0007C20.7079 17.333 21.3862 17.614 21.8863 18.1141C22.3864 18.6142 22.6673 19.2924 22.6673 19.9997V25.333C22.6673 26.0403 22.3864 26.7185 21.8863 27.2186C21.3862 27.7187 20.7079 27.9997 20.0007 27.9997H12.0007C11.2934 27.9997 10.6151 27.7187 10.115 27.2186C9.61494 26.7185 9.33398 26.0403 9.33398 25.333V19.9997Z"
              stroke="#3F497F"
              stroke-width="2.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_5900_794">
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg>
        طباعة
      </button>
    </div>
    <div *ngIf="data" class="table position-relative">
      <app-shared_table
        [columnsArray]="columnsArray"
        [columnsNames]="columnsName"
        [RowsData]="data"
        [colSpanArray]="colSpanArray"
        (openModalEvent)="openDetailsModal($event)"
      ></app-shared_table>
    </div>
    <div *ngIf="data" id="totals_and_pagination" class="d-flex flex-wrap gap-2">
      <div
        class="h-60px width-17 borderRadius_20px lightGreen-border d-flex justify-content-center align-items-center"
      >
        <span
          class="fw-600 fs-16 d-flex justify-content-center text-center m-2"
        >
          الرصيد الحالي : {{ current_balance }}
        </span>
      </div>

      <div class="pagination-area d-flex width-45-lg justify-content-center">
        <p-paginator
          #paginator
          [first]="1"
          [rows]="rows"
          (onPageChange)="changeCurrentpage($event)"
          [totalRecords]="total"
        ></p-paginator>
      </div>

      <div
        class="h-60px width-17 borderRadius_20px lightGreen-border d-flex justify-content-center align-items-center"
      >
        <span
          class="fw-600 fs-16 d-flex justify-content-center text-center m-2"
        >
          اجمالي المدين : {{ total_credit }}
        </span>
      </div>

      <div
        class="h-60px width-17 borderRadius_20px lightGreen-border d-flex justify-content-center align-items-center"
      >
        <span
          class="fw-600 fs-16 d-flex justify-content-center text-center m-2"
        >
          اجمالي الدائن : {{ total_debit }}
        </span>
      </div>
    </div>
  </div>
</div>

<button
  hidden
  #OpendetailsPopup
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#detailsPopup"
></button>

<div
  class="modal fade"
  #detailsPopup
  id="detailsPopup"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog p-3">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100">
          <span *ngIf="popupType == 1" class="text-center fs-16 fw-600"
            >مبيعات
          </span>
          <span *ngIf="popupType == 2" class="text-center fs-16 fw-600">
            مردود مبيعات
          </span>
          <span *ngIf="popupType == 3" class="text-center fs-16 fw-600"
            >مشتريات
          </span>
          <span *ngIf="popupType == 4" class="text-center fs-16 fw-600">
            مردود مشتريات
          </span>
          <span
            *ngIf="popupType == 9 || popupType == 10"
            class="text-center fs-16 fw-600"
          >
            اشعار خصم او اشعار اضافة
          </span>
          <span
            *ngIf="popupType == 5 || popupType == 6"
            class="text-center fs-16 fw-600"
          >
            استلام نقدية او دفع نقدية
          </span>
          <span
            *ngIf="popupType == 7 || popupType == 8"
            class="text-center fs-16 fw-600"
          >
            ارصدة محولة
          </span>
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="borderRadius_20px mx-3 p-2 row">
          <div
            *ngIf="
              popupType == 1 ||
              popupType == 2 ||
              popupType == 3 ||
              popupType == 4
            "
            class="h-100 col-md-12"
          >
            <app-shared_table
              [columnsNames]="columnsNamePopup"
              [columnsArray]="columnsArrayPopup"
              [RowsData]="popupdata"
              (sortEvent)="sort($event)"
            ></app-shared_table>
          </div>
          <div>
            <div
              *ngIf="popupType == 1 && totals"
              class="d-flex flex-wrap gap-3 align-items-center mt-3 mx-3"
            >
              <div
                class="width-20 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                  >عدد الأصناف</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.items_number }}</span
                >
              </div>
              <div
                class="width-16 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-19 w-50 d-flex justify-content-center text-center"
                  >اجمالي الفاتورة
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center"
                  >{{ totals.total }}</span
                >
              </div>
              <div
                class="width-16 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 fs-19 smalltext w-50 d-flex justify-content-center text-center"
                  >اجمالي الضريبة
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center"
                  >{{ totals.taxes }}</span
                >
              </div>
              <div
                class="width-18 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center text-center"
                >
                  صافي بعد الضريبة
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.net_price }}</span
                >
              </div>
              <div
                class="width-18 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 fs-12 smallertext w-50 d-flex justify-content-center text-center"
                >
                  صافي ربح فرق خصم المندوب
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.client_net_discount_difference_value }}</span
                >
              </div>
            </div>

            <div
              *ngIf="popupType == 2 && totals"
              class="d-flex flex-wrap gap-3 align-items-center mt-3 mx-3"
            >
              <div
                class="width-20 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                  >عدد الأصناف</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.returnables_count }}</span
                >
              </div>
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-19 w-50 d-flex justify-content-center text-center"
                  >اجمالي سعر الجمهور
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center"
                  >{{ totals.total_price }}</span
                >
              </div>
              <div
                class="width-20 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 fs-19 smalltext w-50 d-flex justify-content-center text-center"
                  >اجمالي الضريبة
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center"
                  >{{ totals.total_taxes }}</span
                >
              </div>
              <div
                class="width-20 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center text-center"
                >
                  اجمالي الصافي
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.net_total }}</span
                >
              </div>
            </div>

            <div
              *ngIf="popupType == 1 && totals"
              class="d-flex flex-wrap gap-3 align-items-center justify-content-center mt-3 mx-3 mb-3"
            >
              <div
                class="width-19 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 fs-15 smalltext w-50 d-flex justify-content-center text-center"
                  >خصم نقدي اضافي
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.extra_discount }}</span
                >
              </div>
              <div
                class="width-19 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 fs-15 smalltext w-50 d-flex justify-content-center text-center"
                  >اجمالي فاتورة المندوب
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals.client_net_price }}</span
                >
              </div>

              <div
                class="width-20 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-14 w-50 d-flex justify-content-center text-center"
                  >اجمالي سعر الجمهور</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 fs-16 smalltext w-50 d-flex justify-content-center"
                  >{{ totals.subtotal }}</span
                >
              </div>
              <div
                class="width-16 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-14 w-50 d-flex justify-content-center text-center"
                  >الحساب السابق
                </span>
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 fs-16 smalltext w-50 d-flex justify-content-center"
                  >{{ totals.previous_balance }}</span
                >
              </div>
              <div
                class="width-20 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-16 w-50 d-flex justify-content-center text-center"
                  >الرصيد الحالي</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 fs-18 smalltext w-50 d-flex justify-content-center"
                  >{{ totals.current_balance }}</span
                >
              </div>
            </div>

            <div
              *ngIf="popupType == 3 || popupType == 4"
              class="d-flex flex-wrap gap-3 align-items-center justify-content-around mt-3 mx-3"
            >
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                  >اجمالي عدد الأصناف</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals?.total_products }}</span
                >
              </div>
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                >
                  إجمالي الفاتورة</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals?.total_price }}</span
                >
              </div>
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                  >إجمالي الضريبة</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals?.total_taxes }}</span
                >
              </div>
            </div>
            <div
              *ngIf="popupType == 3 || popupType == 4"
              class="d-flex flex-wrap gap-3 align-items-center justify-content-around mt-3 mx-3"
            >
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                >
                  إجمالي سعر الجمهور</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals?.total_public_price }}</span
                >
              </div>
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                >
                  الحساب السابق</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals?.last_balance }}</span
                >
              </div>
              <div
                class="width-30 fullScreen-1024px h-60px borderRadius_20px lightGreen-border d-flex align-items-center"
              >
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center text-center"
                >
                  الرصيد الحالي</span
                >
                <hr class="h-100 lightGreen-border" />
                <span
                  class="fw-600 smalltext fs-18 w-50 d-flex justify-content-center"
                  >{{ totals?.current_balance }}</span
                >
              </div>
            </div>

            <div *ngIf="popupType == 9 || popupType == 10" class="flex-wrap">
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-15">
                  <label class="mb-2">كود العميل</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">اسم العميل</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">التاريخ والوقت</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">الكاتب</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-15">
                  <label class="mb-2">الخزينة</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">رقم ايصال النقدية</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">رقم الفاتورة</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-15">
                  <label class="mb-2">الحساب السابق</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">المبلغ</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">المبلغ مكتوب</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">الرصيد الحالي</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-10">
                  <label class="mb-2">الموزع</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-10">
                  <label class="mb-2">السائق</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-10">
                  <label class="mb-2">مندوب المورد</label>
                  <input type="number" class="form-control" />
                </div>

                <div class="width-20">
                  <label class="mb-2">رقم هاتف المندوب</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-20">
                  <label class="mb-2">رقم بطاقة المندوب</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="mb-3 w-100">
                <label class="mb-2">وذلك عن</label>
                <input type="number" class="form-control" />
              </div>
              <div class="w-100">
                <label class="mb-2">ملاحظات</label>
                <textarea
                  name=""
                  class="w-100 borderRadius_10px form-control"
                  id=""
                ></textarea>
              </div>
            </div>

            <div *ngIf="popupType == 5 || popupType == 6" class="flex-wrap">
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-15">
                  <label class="mb-2">كود العميل</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">اسم العميل</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">التاريخ والوقت</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">الكاتب</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-15">
                  <label class="mb-2">الحساب السابق</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">المبلغ</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">المبلغ مكتوب</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">الرصيد الحالي</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="mb-3 w-100">
                <label class="mb-2">وذلك عن</label>
                <input type="number" class="form-control" />
              </div>
              <div class="w-100">
                <label class="mb-2">ملاحظات</label>
                <textarea
                  name=""
                  class="w-100 borderRadius_10px form-control"
                  id=""
                ></textarea>
              </div>
            </div>

            <div *ngIf="popupType == 7 || popupType == 8" class="flex-wrap">
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-16">
                  <label class="mb-2">كود العميل</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">اسم العميل</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">التاريخ والوقت</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">الكاتب</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-17">
                  <label class="mb-2">كود العميل المحول اليه</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">اسم العميل المحول اليه</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="d-flex mb-3 flex-wrap gap-2">
                <div class="width-16">
                  <label class="mb-2">الحساب السابق</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">المبلغ</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">المبلغ مكتوب</label>
                  <input type="number" class="form-control" />
                </div>
                <div class="width-27">
                  <label class="mb-2">الرصيد الحالي</label>
                  <input type="number" class="form-control" />
                </div>
              </div>
              <div class="mb-3 w-100">
                <label class="mb-2">وذلك عن</label>
                <input type="number" class="form-control" />
              </div>
              <div class="w-100">
                <label class="mb-2">ملاحظات</label>
                <textarea
                  name=""
                  class="w-100 borderRadius_10px form-control"
                  id=""
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="type5PopUp"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog p-3">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100">
          <span class="text-center fs-16 fw-600"
            >ارصدة محولة من او ارصدة محولة الي</span
          >
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="flex-wrap">
          <div class="d-flex mb-3 flex-wrap gap-2">
            <div class="width-16">
              <label class="mb-2">كود العميل</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">اسم العميل</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">التاريخ والوقت</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">الكاتب</label>
              <input type="number" class="form-control" />
            </div>
          </div>
          <div class="d-flex mb-3 flex-wrap gap-2">
            <div class="width-17">
              <label class="mb-2">كود العميل المحول اليه</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">اسم العميل المحول اليه</label>
              <input type="number" class="form-control" />
            </div>
          </div>
          <div class="d-flex mb-3 flex-wrap gap-2">
            <div class="width-16">
              <label class="mb-2">الحساب السابق</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">المبلغ</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">المبلغ مكتوب</label>
              <input type="number" class="form-control" />
            </div>
            <div class="width-27">
              <label class="mb-2">الرصيد الحالي</label>
              <input type="number" class="form-control" />
            </div>
          </div>
          <div class="mb-3 w-100">
            <label class="mb-2">وذلك عن</label>
            <input type="number" class="form-control" />
          </div>
          <div class="w-100">
            <label class="mb-2">ملاحظات</label>
            <textarea
              name=""
              class="w-100 borderRadius_10px form-control"
              id=""
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  hidden
  #OpenOptionsModal
  type="button"
  (click)="choosePrintTypePopup.openAddModal()"
></button>
<app-printing-options-popup
  [paginated]="true"
  (printData)="print($event)"
  #choosePrintTypePopup
></app-printing-options-popup>
