@import "generalInputsStyle.scss";
@import "generalTableStyle.scss";
@import 'generalPaginationStyle.scss';

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order_number{
    @media screen and (max-width:1024px) {
        flex-direction: column-reverse !important;
    }
}
.disabled-div {
    pointer-events: none;
  }

#calculateBonusAndTaxModal {
    .modal-dialog {
        //padding-top: 7% !important;
        max-width: 75vw !important;

        @media only screen and (max-width:426px) {
            max-width: 100% !important;
            // margin: 4% auto !important;
        }
        // .modal-body{
        //     ::ng-deep .p-datatable-wrapper{
        //       height: 407px;
        //     }
        // }
    }

}

