<div class="main_card_margen">
  <div class="card borderRadius_20px boxShadow-15">
    <div id="table" class="p-4">
      <app-shared_table
        [columnsArray]="columnsArray"
        [columnsNames]="columnsName"
        [RowsData]="data"
        (productClickEvent)="editButton($event)"
      ></app-shared_table>
    </div>
    <div class="w-100 ps-4 pe-4">
      <div
        class="row m-2 p-2 align-items-center d-flex justify-content-between"
      >
        <div class="col-lg-3 mt-2">
          <div
            class="h-60px borderRadius_20px justify-content-center p-2 lightGreen-border d-flex align-items-center"
          >
            اجمالي عدد الخطوط : {{ additional_data.tracks_count }}
          </div>
        </div>

        <div class="col-lg-6 mt-2">
          <p-paginator
            #paginator
            [first]="1"
            [rows]="rows"
            (onPageChange)="changepage($event)"
            [totalRecords]="total"
          ></p-paginator>
        </div>

        <div class="col-lg-3 mt-2">
          <div
            class="h-60px borderRadius_20px p-2 justify-content-center lightGreen-border d-flex align-items-center"
          >
            اجمالي عدد العملاء : {{ additional_data.pharmacies_count }}
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 px-4">
      <div
        class="row mx-2 mb-2 px-2 pb-2 align-items-center d-flex justify-content-between"
      >
        <div class="col-lg-3">
          <div
            class="h-60px borderRadius_20px justify-content-center p-2 lightGreen-border d-flex align-items-center text-center"
          >
            عدد العملاء بخطوط السير: {{ additional_data.pharmacies_has_track }}
          </div>
        </div>

        <div class="col-lg-3">
          <div
            class="h-60px borderRadius_20px p-2 justify-content-center lightGreen-border d-flex align-items-center"
          >
            عدد العملاء بدون خطوط السير:
            {{ additional_data.pharmacies_without_track }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
