<div class="main_card_margen">
  <div class="card boxShadow-15 borderRadius_20px p-3">
    <div id="header" class="mb-3">
      <form [formGroup]="addForm">
        <div class="d-flex gap-2 flex-wrap align-items-end">
          <div class="width-25 d-flex flex-column">
            <label class="mb-2"> الخزنة المحول منها </label>
            <p-dropdown
              *ngIf="!id"
              [showClear]="true"
              [options]="safes"
              placeholder=" "
              formControlName="safe_from_id"
              optionLabel="name"
              optionValue="id"
            ></p-dropdown>
            <input
              *ngIf="id"
              readonly
              type="text"
              class="form-control disabled"
              formControlName="safe_from_id"
            />
          </div>
          <div class="width-25 d-flex flex-column">
            <label class="mb-2"> الخزنة المحول إليها</label>
            <p-dropdown
              [showClear]="true"
              [options]="cashSafes"
              formControlName="safe_to_id"
              placeholder=" "
              *ngIf="!id"
              optionLabel="name"
              optionValue="id"
            ></p-dropdown>
            <input
              *ngIf="id"
              readonly
              type="text"
              class="form-control disabled"
              formControlName="safe_to_id"
            />
          </div>
          <div class="width-25 d-flex flex-column">
            <label class="mb-2"> اسم الموظف </label>
            <p-dropdown
              [showClear]="true"
              (onChange)="getLogbooksFromEmployees()"
              [options]="deliveries"
              *ngIf="!id"
              placeholder=" "
              optionLabel="name"
              formControlName="delivery_id"
              optionValue="id"
            ></p-dropdown>
            <input
              *ngIf="id"
              readonly
              type="text"
              class="form-control disabled"
              formControlName="delivery_id"
            />
          </div>

          <div class="flex-fill d-flex flex-column">
            <label class="mb-2"> رقم دفتر التحصيل </label>
            <p-dropdown
              [showClear]="true"
              [options]="logbooks"
              placeholder=" "
              *ngIf="!id"
              optionLabel="name"
              formControlName="log_book_id"
              optionValue="id"
            ></p-dropdown>
            <input
              *ngIf="id"
              readonly
              type="text"
              class="form-control disabled"
              formControlName="log_book_id"
            />
          </div>
        </div>
        <div class="d-flex gap-2 flex-wrap align-items-end mt-3">
          <div class="width-15 d-flex flex-column">
            <label class="mb-2"> المبلغ بالأرقام </label>
            <input
              type="number"
              (keydown.enter)="getAmountInWords()"
              class="form-control"
              formControlName="amount"
            />
          </div>
          <div class="width-30 d-flex flex-column">
            <label class="mb-2"> المبلغ مكتوب </label>
            <input
              type="text"
              readonly
              class="form-control disabled"
              formControlName="amount_in_words"
            />
          </div>
          <div class="flex-fill d-flex flex-column">
            <label class="mb-2"> ملاحظات </label>
            <input type="text" class="form-control" formControlName="notes" />
          </div>
        </div>
      </form>
      <div
        *ngIf="!id"
        class="d-flex align-items-end justify-content-end gap-2 flex-column mt-4"
      >
        <button
          (click)="onSubmit()"
          type="submit"
          class="greenbtnStyles width-30 p-2 h-40px borderRadius_10px border-0"
        >
          حفظ التحويل
        </button>
      </div>
      <div
        *ngIf="id"
        class="d-flex align-items-end justify-content-end gap-2 flex-column mt-4"
      >
        <button
          type="submit"
          (click)="updateOperation()"
          class="greenbtnStyles width-30 p-2 h-40px borderRadius_10px border-0"
        >
          حفظ التعديل
        </button>
      </div>
    </div>
  </div>
</div>
