.w-15 {
  width: 15%;

  @media screen and (max-width: 769px) {
    width: 100% !important;
  }
}

.h-58px {
  height: 58px;
}

.btnStyling {
  background-color: var(--darkGreen);
  border-radius: 10px;
  font-size: 18px;
}

.responsiveFix {
  @media screen and (max-width: 769px) {
    width: 100%;
  }
}

.active {
  background-color: var(--darkGreen);
  color: black;
  font-weight: 600;
}

.displayMediaFix {
  @media screen and (max-width: 769px) {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
}

::ng-deep .p-dropdown {
  width: 100%;
}

.centeringCSS {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeringCSS:active {
  background-color: var(--darkGreen);
  font-size: 14px;
}

.btnStyling {
  background-color: var(--darkGreen);
  border-radius: 10px;
  font-size: 18px;
}

.gapFix {
  gap: 3rem;
}

.borderline {
  border-left: 1px solid var(--darkGreen);
  height: 100%;
}

.titleBGColor {
  background-color: #3f497f;
}

.titleBoderRadiusRight-20px {
  @media screen and (max-width: 769px) {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.titleBoderRadiusLeft-20px {
  @media screen and (max-width: 769px) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.cityClientSalesTable {
  .backShadow {
    box-shadow: 0px 0px 10px 2px #ccc;
  }

  .tableHeader {
    background-color: #3f497f;
    color: white;
    border: 0px 10px 0px 0px;
    border-radius: 0px 10px 0px 0px;
  }

  .tableHeader2 {
    background-color: #3f497f;
    color: white;
    border: 0px 0px 10px 0px;
    border-radius: 10px 0px 0px 0px;
  }

  .marginFix {
    margin: 1px;
  }

  .centeringCSS {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centeringCSS:active {
    background-color: var(--darkGreen);
    font-size: 14px;
  }

  .btnStyling {
    background-color: var(--darkGreen);
    border-radius: 10px;
    font-size: 18px;
  }

  //*fixes background color of header that bleeds in table
  ::ng-deep
    .p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-datatable-table
    > .p-datatable-thead {
    background-color: white;
  }

  //? Header Area

  ::ng-deep .p-datatable .p-datatable-thead > tr {
    width: 95%;
  }

  ::ng-deep .p-datatable-scrollable .p-datatable-thead > tr {
    font-family: "NOTO";
  }

  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: white;
    border: 0px;
    font-weight: 500;
    padding: 0px !important;
    // padding-top: 35px !important;
    min-height: 100px;
  }

  // ::ng-deep.p-datatable-scrollable .p-datatable-thead > tr > th {
  //   // padding-top: 2rem;
  // }

  ::ng-deep .p-datatable-scrollable .p-datatable-thead > tr > th {
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  // ?Body Area
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 1px 1px 1px 1px;
  }

  ::ng-deep .p-datatable-scrollable .p-datatable-tbody > tr {
    // width: 95%;
    margin-bottom: 7px;
  }

  ::ng-deep .p-datatable-scrollable .p-datatable-tbody > tr > td {
    background-color: white;
    margin: 0px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 5px 1px #e4e4e4;
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  // ?whole row of body outside
  ::ng-deep .p-datatable .p-datatable-tbody > tr {
    font-family: "NOTO";

    :first-child {
      border-radius: 0px 20px 20px 0px;
    }

    :last-child {
      border-radius: 20px 0px 0px 20px;
    }
  }

  //? Footer Area
  .p-datatable .p-datatable-tfoot > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 1px 1px 1px 1px;
  }

  ::ng-deep .p-datatable-scrollable .p-datatable-tfoot > tr > td {
    background-color: white;
    margin: 0px;
    border: 1px solid #e4e4e4;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    font-family: "NOTO";
  }

  // ?whole row of footer outside
  ::ng-deep .p-datatable .p-datatable-tfoot > tr {
    width: 95%;
    font-family: "NOTO";

    :first-child {
      border-radius: 0px 20px 20px 0px;
    }

    :last-child {
      border-radius: 20px 0px 0px 20px;
    }
  }

  .merged-cell .merge-container {
    display: flex;
    justify-content: space-between;
    /* Optional: to distribute the space between cells */
  }

  /* Apply custom styles for nested divs inside merged-cell */
  .merged-cell .merge-container > div {
    width: calc(50% - 1em);
    /* Adjust width as needed, e.g. if you want a gap between cells */
  }
}

::ng-deep .p-datatable-scrollable .p-datatable-thead {
  display: inline;
}

.widthScreens {
  width: 20%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.widthDates {
  width: 20%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.widthButtons {
  width: 10%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.calendar-icon {
  cursor: pointer !important;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr {
  font-family: "NOTO";
  box-shadow: 0px 0px 8px -5px;
  border-radius: 26px;

  :first-child {
    border-left: none !important;
  }

  :nth-child(2) {
    border-right: none !important;
  }
}

.responsiveFixTables {
  @media screen and (max-width: 769px) {
    width: 100% !important;
  }
}

.tables-container {
  display: flex !important;
  flex-wrap: wrap !important;
}

/* Table styles */
::ng-deep .p-table {
  flex: 1 1 45%;
  /* Adjust the percentage value to control the width of the tables */
  margin: 10px;
  /* Add any additional styling for the tables, e.g., borders, padding, etc. */
}

/* Media Query for Responsive Behavior */
@media screen and (max-width: 768px) {
  .tables-container {
    flex-direction: column;
  }

  .p-table {
    flex: 1 1 100%;
  }
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 5px 5px;
}

.tableBorder1 {
  border: 1px solid #e4e4e4;
  border-radius: 10px 12px 5px 5px;

  @media screen and (max-width: 769px) {
    border-radius: 10px 10px 5px 5px;
  }
}

.tableBorder2 {
  border: 1px solid #e4e4e4;
  border-radius: 0px 10px 10px 0px;
  @media screen and (max-width: 769px) {
    border-radius: 20px 20px 5px 5px;
  }
}

::ng-deep .p-datatable-scrollable .p-datatable-tbody,
.p-datatable-scrollable .p-datatable-tfoot {
  display: block;
  margin-right: 15px;
}

.responsiveFixInputs {
  @media screen and (max-width: 769px) {
    flex-direction: column;
  }
}

.clientname {
  @media screen and (max-width: 769px) {
    width: 100%;
  }
}

.resposnsivepharmacy {
  @media screen and (max-width: 769px) {
    width: 100%;
  }
}

::ng-deep .p-calendar {
  width: 100% !important;
}

.left-table {
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;

  @media screen and (max-width: 769px) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.right-table {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;

  @media screen and (max-width: 769px) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.tableBorderRight1 {
  border: 1px solid #e4e4e4;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 13px;
  @media screen and (max-width: 769px) {
    border-radius: 10px 10px 5px 5px;
  }
}

.tableBorderLeft2 {
  border: 1px solid #e4e4e4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 13px;
  @media screen and (max-width: 769px) {
    border-radius: 20px 20px 5px 5px;
  }
}

::ng-deep .p-datatable table {
  height: 600px !important;
}

::ng-deep .p-datatable-scrollable .p-datatable-tbody {
  overflow-y: auto;
  display: block;
  margin-right: 15px;
  height: 500px;
}
