@import "generalInputsStyle.scss";
@import "generalPickListStyle.scss";

.pickList {
  @media screen and (max-width: 426px) {
    margin-right: 15px;
  }
}

.width-full {
  width: -webkit-fill-available;
}

.disabled-item {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
