@import 'generalTableStyle.scss';
@import 'generalInputsStyle.scss';

.toCalenderLabelFix {
    margin: 1.27rem
}

.width-30percent {
    width: 30%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.audit-completed-details {
    padding: 1%;

    .head {
        .name {
            width: 23%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        .order-number {

            width: 23%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            input {
                border-radius: 6px;
                height: 40px;
            }
        }

        .calendar {
            width: 23%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }


        }
    }

    .page-switcher {

        .page-type {
            border: 1px solid #e4e4e4;
            border-radius: 20px;
            padding: 0.75rem 2rem;

        }


    }

    .table {
        border: 1px solid #e4e4e4;
        border-radius: 20px;
    }

    .lower-area {
        align-items: flex-end;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
        }

        .bottomHolder {
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        .itemCount {
            width: 70%;
            padding: 0.5rem;

            @media screen and (max-width: 768px) {
                width: 100%;

            }

            .totals {
                height: 60px;
                border-radius: 20px;
                border: 1px solid #28DF99;

                span {
                    font-weight: 600;
                    font-size: 16px;
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
}

.active {
    background-color: #28DF99;
    color: black;
}

