@import 'generalTableStyle.scss';
@import 'generalPaginationStyle.scss';
@import 'generalInputsStyle.scss';
.edit-operation-container{


    .lower-area {
        padding: 4%;

        @media screen and (max-width: 991px) {
            flex-direction: column !important;

        }

        .public-price {
            border: 1px solid #99F3BD;
            width: 100%;


        }
    }
}


#filterModel  {
    .modal-dialog {
        padding-top: 6% !important;
        max-width: 52vw;

        @media screen and (max-width:768px) {
            max-width: 100% !important;
        }

        .modal-content {
            border-radius: 30px !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

            .modal-header {
                border-bottom: none;
            }

            .modal-body {
                padding: 0% 5% 5vh 5%;

                .Title {
                    width: 100%;
                    text-align: center;
                }
            }
        }


    }

}