<div class="contDiv main_card_margen">
  <div class="card boxShadow-15 borderRadius_20px">
    <div class="header">
      <form [formGroup]="clientFilter" class="h-100">
        <div class="h-100 p-4 gap-2 d-flex flex-wrap">
          <div class="width-15">
            <div class="d-flex align-items-center">
              <label class="mb-2">كود العميل</label>
              <i
                *ngIf="loaderBooleanCode"
                class="pi pi-spin pi-spinner px-1"
              ></i>
            </div>
            <input
              (input)="getClientidFromCode('code')"
              formControlName="code"
              class="form-control w-100 filterInput"
              type="text"
            />
          </div>
          <div class="width-30">
            <div class="d-flex align-items-center">
              <label class="mb-2">اسم العميل</label>
              <i *ngIf="loaderBooleanId" class="pi pi-spin pi-spinner px-1"></i>
            </div>
            <p-dropdown
              (onChange)="getClientidFromCode('clientId')"
              [showClear]="clientFilter.controls['pharmacy_id'].value"
              [options]="groupPharmacies"
              formControlName="pharmacy_id"
              placeholder=" "
              optionLabel="name"
              optionValue="id"
              class="dropdown-style"
            ></p-dropdown>
          </div>
          <div class="width-30">
            <div class="d-flex">
              <label class="mb-2">التاريخ</label>
            </div>
            <div
              class="d-flex justify-content-end align-items-center flex-wrap position-relative"
            >
              <p-calendar
                formControlName="created_at"
                #calendar
                dateFormat="mm-dd-yy"
                class="w-100 mx-0 h-50px"
                placeholder=" "
                [showClear]="clientFilter.controls['created_at'].value"
                class="w-100"
              >
              </p-calendar>
              <img
                (click)="calendar.toggle()"
                class="calendar-icon position-absolute p-2"
                src="../../../../assets/images/input/calender.svg"
                alt=""
              />
            </div>
          </div>
          <div class="flex-fill d-flex mb-1">
            <div class="w-100 d-flex h-100 justify-content-end align-items-end">
              <button
                appDisableButton
                (click)="filterPharmacies(1)"
                appDisableButton
                class="searchBtn"
              >
                بحث
              </button>
            </div>
          </div>
        </div>
      </form>
      <span class="my-2 p-3 fw-bold">المرتجعات</span>
    </div>
    <form [formGroup]="productFilter" class="h-100">
      <div class="p-4 gap-2 d-flex flex-wrap">
        <div class="width-45">
          <div class="mb-2">
            <label class="mb-2">اسم الصنف</label>
          </div>
          <p-dropdown
            [showClear]="productFilter.controls['product_id'].value"
            [options]="products"
            placeholder=" "
            formControlName="product_id"
            optionLabel="name"
            optionValue="id"
            class="dropdown-style"
          ></p-dropdown>
        </div>
        <div class="width-17">
          <div class="mb-2">
            <label class="mb-2">التاريخ</label>
          </div>
          <input
            formControlName="expired_at"
            class="form-control w-100 filterInput"
            type="text"
          />
        </div>
        <div class="width-17">
          <div class="mb-2">
            <label class="mb-2">التشغيلة</label>
          </div>
          <input
            formControlName="operating_number"
            class="form-control w-100 filterInput"
            type="text"
          />
        </div>

        <!-- <div class="flex-fill d-flex mb-1">
          <div class="w-100 d-flex justify-content-end align-items-end">
            <button
              appDisableButton
              (click)="filterPharmacies(2)"
              appDisableButton
              class="searchBtn"
            >
              بحث
            </button>
          </div>
        </div> -->
      </div>
    </form>
    <div
      *ngIf="ClientInvoices.length > 0 && clientFilter.value"
      class="p-4 pt-0"
    >
      <app-shared_table
        [columnsArray]="columnsArray"
        [columnsNames]="columnsName"
        [RowsData]="ClientInvoices"
        (openModalEvent)="viewReturnDetails($event)"
      ></app-shared_table>
      <div class="d-flex flex-wrap mt-2 align-items-center">
        <div class="width-30">
          <div class="totalbox">
            اجمالي الأذونات : {{ ClientInvoices.length }}
          </div>
        </div>
        <div class="d-flex width-50-lg justify-content-center">
          <p-paginator
            #paginator
            class="pagination d-flex justify-content-center"
            (onPageChange)="changePage($event)"
            [first]="1"
            [rows]="rows"
            [totalRecords]="total"
          ></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
