@import 'generalTableStyle.scss';
@import 'generalPaginationStyle.scss';
@import 'generalInputsStyle.scss';

.contDiv {

    .searchBtn {
        width: 137px;
        height: 45px;
        border: none;
        border-radius: 10px;
        background-color: var(--darkGreen);
    }

    .filterInput {
        height: 40px;
        border-radius: 10px;
    }

    .totalbox {
        height: 50px;
        width: max-content;
        padding: 15px;
        border: 1px solid var(--darkGreen);
        border-radius: 15px;
        font-weight: bold;
    }


}

::ng-deep {
    .p-datatable-tbody>tr>td {
        padding: 0.5rem 0.5rem !important;
    }

    // .p-dropdown {
    //     width: 100% !important;
    //     height: 40px !important;
    // }

    // .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    //     padding-right: 0;
    //     margin-right: 0;
    // }


    // .p-dropdown.p-component,
    // .p-calendar .p-inputtext,
    // .p-calendar,
    // textarea {
    //     border-radius: 10px !important;
    //     height: 40px !important;

    //     width: 100%;

    // }

    // .p-dropdown-panel {
    //     max-width: 100% !important;
    // }
    // .p-dropdown-clear-icon {
    //     left: 2.1rem;
    //     right: unset !important;
    // }

    .p-calendar.p-calendar-clearable .p-calendar-clear-icon {
        color: #6c757d;
        right: unset !important;
        left: 41px !important;
    }

}