@import 'generalTableStyle.scss';
@import 'generalPaginationStyle.scss';
@import 'generalInputsStyle.scss';

.operating-expiry-report {
    padding: 1%;



    .upper-Area {
        gap: 1rem;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
        }

        .bottomHolder {

            .add-prohibited-item {
                width: 100%;

                .add-prohibited-button {
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        background-color: #28DF99;
                        color: white;
                        border: none !important;
                        padding: 0.9rem;

                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }

                        p {
                            margin-top: 0.3rem !important;
                            margin-bottom: 0.3rem !important;
                        }
                    }

                    button:focus:not(:focus-visible) {
                        outline: none;
                    }
                }

                .filter-button {
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        background-color: white;
                        color: #28DF99;
                        border: none;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
                        padding: 0.9rem 3.5rem;

                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }

                        p {
                            margin-top: 0.3rem !important;
                            margin-bottom: 0.3rem !important;
                        }
                    }

                    button:focus:not(:focus-visible) {
                        outline: none;
                    }
                }
            }
        }
    }

    .lower-area {

        .itemCount {
            @media screen and (max-width:992px) {
                width: 100%;

            }
        }

        @media screen and (max-width:992px) {
            flex-direction: column-reverse;
            gap: 1rem;
            align-items: center;

        }
    }
}


