@import "generalInputsStyle.scss";
@import "generalTableStyle.scss";

#calculateBonusAndTaxModal {
    .modal-dialog {
        //padding-top: 7% !important;
        max-width: 75vw !important;

        @media only screen and (max-width:426px) {
            max-width: 100% !important;
            // margin: 4% auto !important;
        }
        .modal-body{
            ::ng-deep .p-datatable-wrapper{
              height: 407px;
            }
        }
    }

}