<div class="preparingCont main_card_margen">
  <div class="card d-flex boxShadow-10 p-4 borderRadius_10px">
    <div class="header">
      <div class="width-25  position-relative cursor-pointer">
        <div
          class="boxShadow-15 darkGreen-bg h-60px borderRadius_20px d-flex align-items-center justify-content-center">
          <span class="fw-400 fs-18 text-center">عدد الأذونات المغلقة</span>
        </div>
        <div
          class="borderRadius_50 position-absolute waitingNum yellow-bg d-flex align-items-center justify-content-center fw-400 fs-12">
          {{AllCount}}
        </div>
      </div>
    </div>
    <div class="body">


      <app-shared_table
       [columnsArray]="columnsArrayAll" 
       [columnsNames]="columnsNameAll" 
       [RowsData]="allOrders"
       (orderClickEvent)="openModel($event)"
       (printInvoiceEvent)="getPrintedInvoiceData($event)"
  
       ></app-shared_table>
    </div>
    <div class="footer mt-5">
      <div class="width-25">
        <div class=" h-60px borderRadius_20px lightGreen-border d-flex align-items-center">
          <span class="fw-600 smalltext borderline  fs-18 w-50 d-flex justify-content-center text-center p-1">
            اجمالي عدد الأذونات</span>
          <hr class="h-100 lightGreen-border">
          <span class="fw-600 fs-18 w-50 d-flex justify-content-center">{{allOrders.length}}</span>
        </div>
      </div>
    </div>
  </div>
</div>


<button hidden #openInfoModel type="button" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#detailsModel">

</button>

<div class="modal fade" id="detailsModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog p-3">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100">
          <span class="text-center fs-16 fw-600">محتويات الأذن</span>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body">

        <app-shared_table
        [columnsArray]="columnsArrayPopup" 
        [columnsNames]="columnsNamePopup" 
        [RowsData]="orderContentList"
        (sortEvent)="sortInvoiceContent($event)"
        (dropdownCheck)="updateBatchIDs($event)"

   
        ></app-shared_table>

        <div class="bottomArea d-flex justify-content-between">
          <div class="totalarea lightGreen-border borderRadius_20px d-flex  justify-content-center align-items-center ">
            <div class="leftarea d-flex justify-content-center align-items-center px-3 text-center p-3">
              اجمالي عدد الأصناف
            </div>
            <hr class="h-100 lightGreen-border">
            <div class=" d-flex justify-content-center align-items-center px-3">
              {{totalQuantity}}
            </div>
          </div>
          <div class="submitArea  text-end">
            <button hidden #closeModal type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
            <button appDisableButton (click)="finalizeAndPrint();" type="text" class="btn  fs-4 green_btn">
              تم التحضير
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- confirmation model -->
<button hidden #confirmationModel type="button" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#confirmation1Model">

</button>
<div class="modal fade" id="confirmation1Model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " style="margin-top: 30%;">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center w-100" id="confirmationModalLabel">تأكيد العملية</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="height: 10vh;" class=" d-flex justify-content-center align-items-center ">
        <span class="text-center"> هل انت متأكد من اجراء استلام الاصناف؟
        </span>
      </div>
      <div class="modal-footer d-flex justify-content-center gap-2">
        <button  appDisableButton (click)="completeInvoice()"
          class="btn width-40 h-60px border-0 borderRadius_20px text-white  brightGreen-bg fs-4"> تم التحضير
        </button>

        <button type="button" class="width-40 h-60px btn-color border-0 borderRadius_20px text-white darkGrey-bg fs-5"
          data-bs-dismiss="modal">الغاء</button>
      </div>
    </div>
  </div>
</div>