@import "generalInputsStyle.scss";
.mainCont {
  .fullScreenWidth {
    @media screen and (max-width: 769px) {
      width: 100% !important;
    }
  }
}

.height-50px {
  height: 50px;
}

.btn-color {
  background-color: var(--red);
}

.lightGreen-bg {
  background-color: #28df99 !important;
}

.error {
  right: 0 !important;
  top: 74px;
}

.clearBtn {
  right: 0;
  top: 0;
  bottom: 108px;
  width: 25px;
  height: 25px;
}

#allImagesModel {
  .modal-dialog {
    padding-top: 6% !important;
    max-width: 60vw;

    @media screen and (max-width: 426px) {
      max-width: 100% !important;
    }

    .modal-content {
      border-radius: 30px !important;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      .modal-header {
        border-bottom: none;
      }

      .modal-body {
        padding: 0% 5% 5vh 5%;

        .Title {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

#validateImagesModel {
  .modal-dialog {
    max-width: 25vw !important;

    @media only screen and (max-width: 424px) {
      max-width: 100% !important;
      margin: 4% auto !important;
    }

    .modal-content {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

      .modal-footer {
        border: none;
        justify-content: center;

        button {
          background-color: #3f497f !important;
          width: 87px !important;
        }
      }

      .modal-header {
        border-bottom: none;
      }

      .modal-body {
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        background-color: #f0f5fb;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
  }
}

.newIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(87, 169, 250);
}

.disabledDropdown {
  ::ng-deep {
    .p-dropdown:not(.p-disabled):hover {
      border: 1px solid #dddddd;
      cursor: default !important;
    }

    .p-dropdown .p-dropdown-label {
      background: transparent;
      border: 0 none;
      cursor: default !important;
    }
  }
}

.disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.disabled:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}
