<div class="main_card_margen">
  <div class="card boxShadow-15 borderRadius_20px p-3">
    <!--tabs part-->

    <div class="d-flex flex-wrap align-items-center">
      <div class=" d-flex flex-wrap flex-fill text-center gap-1 ">
        <div class="p-2 width-12"  *ngFor="let track of tracks">
          <div appDisableButton (click)="changeActiveTap(track.number)"  [ngClass]="{'activeTab':isActiveTapArray[track.number]}"
            class="fw-bold position-relative flex-wrap w-100 cursor-pointer borderRadius_10px tab boxShadow-15 m-2 py-3 px-4  defaultBg d-flex align-items-center justify-content-center">
            <p class="text-center   m-auto "> {{track.name}} </p>
          </div>
        </div>
      </div>


      <div class="flex-fill d-flex justify-content-end" >
        <button data-bs-toggle="modal" data-bs-target="#delayDeliveryModal"
          class="printBtn fullScreen-768px d-flex fs-19 h-60px borderRadius_15px p-3 align-items-center text-center justify-content-center boxShadow-15">
          طباعة
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_5900_794)">
              <path
                d="M22.6667 22.6667H25.3333C26.0406 22.6667 26.7189 22.3857 27.219 21.8856C27.719 21.3855 28 20.7072 28 20V14.6667C28 13.9594 27.719 13.2811 27.219 12.781C26.7189 12.281 26.0406 12 25.3333 12H6.66667C5.95942 12 5.28115 12.281 4.78105 12.781C4.28095 13.2811 4 13.9594 4 14.6667V20C4 20.7072 4.28095 21.3855 4.78105 21.8856C5.28115 22.3857 5.95942 22.6667 6.66667 22.6667H9.33333"
                stroke="#3F497F" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M22.6673 12V6.66667C22.6673 5.95942 22.3864 5.28115 21.8863 4.78105C21.3862 4.28095 20.7079 4 20.0007 4H12.0007C11.2934 4 10.6151 4.28095 10.115 4.78105C9.61494 5.28115 9.33398 5.95942 9.33398 6.66667V12"
                stroke="#3F497F" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M9.33398 19.9997C9.33398 19.2924 9.61494 18.6142 10.115 18.1141C10.6151 17.614 11.2934 17.333 12.0007 17.333H20.0007C20.7079 17.333 21.3862 17.614 21.8863 18.1141C22.3864 18.6142 22.6673 19.2924 22.6673 19.9997V25.333C22.6673 26.0403 22.3864 26.7185 21.8863 27.2186C21.3862 27.7187 20.7079 27.9997 20.0007 27.9997H12.0007C11.2934 27.9997 10.6151 27.7187 10.115 27.2186C9.61494 26.7185 9.33398 26.0403 9.33398 25.333V19.9997Z"
                stroke="#3F497F" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_5900_794">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>


    <!--table-->
    <div id="table">
      <app-shared_table 
      [columnsArray]="columnsArray" 
      [columnsNames]="columnsName"
      [RowsData]="data"
      ></app-shared_table>
    </div>

    <div  class="w-100 my-2">
      <div class="row justify-content-between d-flex m-2 p-2 align-items-center">
        <div class="col-lg-4 mt-2 ">
          <div class=" h-60px borderRadius_20px justify-content-center p-2 lightGreen-border d-flex align-items-center">
            اجمالي عدد الأذونات : 2000 
          </div>
        </div>

        <div class="col-lg-4 mt-2 ">
          <div class=" h-60px borderRadius_20px p-2 justify-content-center lightGreen-border d-flex align-items-center">
            اجمالي المبلغ : 2000
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>