@import 'generalTableStyle.scss';
@import 'generalInputsStyle.scss';
.count{
    background-color: var(--darkBlue);
    border-radius: 45%;
    color :white;
    left: 3px !important;
    padding: 5px;
}